{% extends 'base.html.twig' %}

{% block title %}Candidat{% endblock %}

{% block body %}
    <h1>Mon compte</h1>
    {% if app.user %}
    <table class="table">
        <tbody>
            <tr>
                <th>Adresse mail</th>
                <td>{{ app.user.email }}</td>
            </tr>
        </tbody>
    </table>
    {% endif %}

    <div class="d-flex justify-content-between align-items-center">
        <h1>
            Mes informations 
            {% if candidat %}
                <span class="badge rounded-pill bg-vert">{{ taux|round }}%</span>
            {% else %}
                <span class="badge rounded-pill bg-rouge">0%</span>
            {% endif %}
        </h1>
        <a href="{{ candidat ? path('app_candidat_edit', {id:candidat.id}) : path('app_candidat_new') }}" class="btn-bleu">Modifier mes informations</a>
    </div>
    {% if candidat %}
    <div class="card border-0 shadow mb-4">
        <div class="card-body">
            <p class="card-title fw-bold">{{ candidat.nom ~ " " ~ candidat.prenom ~ " - " ~ candidat.titre }}</p>
            <p class="card-text">{{ candidat.experience > 1 ? candidat.experience ~ " ans d'expérience" : candidat.experience ~ " an d'expérience" }}</p>
            <p class="card-text fst-italic">"{{ candidat.description }}"</p>
            <p class="card-text">{{ candidat.dispo ? 'Disponible à partir du ' ~ candidat.dispo|date('d/m/Y') : '' }}, en {% for contrat in candidat.typeContrat %}{{ contrat ~ ' ' }}{% endfor %}</p>
            <div class="row">
                <div class="col-6">
                    <p>Soft skills</p>
                    {% for skill in candidat.softSkills %}
                        <span class="badge rounded-pill bg-bleu-gris">{{ skill }}</span>
                    {% endfor %}
                </div>
                <div class="col-6">
                    <p>Hard skills</p>
                    {% for skill in candidat.hardSkills %}
                        <span class="badge rounded-pill bg-bleu-gris">{{ skill }}</span>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-between align-items-center">
        <h1>Mes expériences</h1>
        <a href="{{ path('app_experience_new') }}" class="btn-bleu">Ajouter une expérience</a>
    </div>
    {% if candidat.experiences %}
        {% for experience in candidat.experiences %}
            <div class="card border-0 shadow mb-4">
                <div class="row">
                    <div class="col-10">
                        <div class="card-body">
                            <p class="card-title fw-bold">{{ experience.poste }}</p>
                            <p class="card-text">
                            {{ experience.entreprise }} | {{ experience.dateDebut ? experience.dateDebut|date("m/Y") : "" }} - {{ experience.dateFin ? experience.dateFin|date("m/Y") : "" }}</p>
                        </div>
                    </div>
                    <div class="col-2 d-flex justify-content-center align-items-center">
                        <a href="{{ path('app_experience_edit', {id:experience.id}) }}" class="btn-bleu">Modifier</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
    <div class="d-flex justify-content-between align-items-center">
        <h1>Mes diplômes</h1>
        <a href="{{ path('app_diplome_new') }}" class="btn-bleu">Ajouter un diplôme</a>
    </div>
    {% if candidat.diplomes %}
        {% for diplome in candidat.diplomes %}
            <div class="card border-0 shadow mb-4">
                <div class="row">
                    <div class="col-10">
                        <div class="card-body">
                            <p class="card-title fw-bold">{{ diplome.titre }}</p>
                            <p class="card-text">
                            {{ diplome.ecole }} | {{ diplome.dateDebut ? diplome.dateDebut|date("m/Y") : "" }} - {{ diplome.dateFin ? diplome.dateFin|date("m/Y") : "" }}</p>
                        </div>
                    </div>
                    <div class="col-2 d-flex justify-content-center align-items-center">
                        <a href="{{ path('app_diplome_edit', {id:diplome.id}) }}" class="btn-bleu">Modifier</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
    {{ include('candidat/_delete_form.html.twig') }}
    {% endif %}

{% endblock %}
