{% extends 'base.html.twig' %}

{% block title %}Candidat{% endblock %}

{% block body %}
    <h1>Mon compte</h1>
    {% if app.user %}
    <table class="table">
        <tbody>
            <tr>
                <th>Adresse mail</th>
                <td>{{ app.user.email }}</td>
            </tr>
        </tbody>
    </table>
    {% endif %}

    <div class="d-flex justify-content-between align-items-center">
        <h1>Mes informations</h1>
        <a href="{{ candidat ? path('app_candidat_edit', {id:candidat.id}) : path('app_candidat_new') }}" class="btn-bleu">Modifier mes informations</a>
    </div>
    {% if candidat %}
    <p>Taux de remplissage du profil : {{ taux|round }}%</p>
    <table class="table">
        <tbody>
            <tr>
                <th>Nom</th>
                <td>{{ candidat.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ candidat.prenom }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ candidat.titre }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ candidat.description }}</td>
            </tr>
            <tr>
                <th>Dispo</th>
                <td>{{ candidat.dispo ? candidat.dispo|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>TypeContrat</th>
                <td>{{ candidat.typeContrat ? candidat.typeContrat|join(', ') : '' }}</td>
            </tr>
            <tr>
                <th>Experience</th>
                <td>{{ candidat.experience }}</td>
            </tr>
            <tr>
                <th>Competences</th>
                <td>{{ candidat.competences ? candidat.competences|join(', ') : '' }}</td>
            </tr>
            <tr>
                <th>SoftSkills</th>
                <td>{{ candidat.softSkills ? candidat.softSkills|join(', ') : '' }}</td>
            </tr>
            <tr>
                <th>HardSkills</th>
                <td>{{ candidat.hardSkills ? candidat.hardSkills|join(', ') : '' }}</td>
            </tr>
            <tr>
                <th>WorkView</th>
                <td>{{ candidat.workView ? candidat.workView|join(', ') : '' }}</td>
            </tr>
            <tr>
                <th>CompanyValues</th>
                <td>{{ candidat.companyValues ? candidat.companyValues|join(', ') : '' }}</td>
            </tr>
            <tr>
                <th>TeamSpirit</th>
                <td>{{ candidat.teamSpirit ? candidat.teamSpirit|join(', ') : '' }}</td>
            </tr>
            <tr>
                <th>Salaire</th>
                <td>{{ candidat.salaire }}</td>
            </tr>
        </tbody>
    </table>
    <div class="d-flex justify-content-between align-items-center">
        <h1>Mes expériences</h1>
        <a href="{{ path('app_experience_new') }}" class="btn-bleu">Ajouter une expérience</a>
    </div>
    {% if candidat.experiences %}
        {% for experience in candidat.experiences %}
            <div class="card border-0 shadow mb-4">
                <div class="row">
                    <div class="col-10">
                        <div class="card-body">
                            <h5 class="card-title">{{ experience.poste }}</h5>
                            <p class="card-text">{{ experience.description }}</p>
                        </div>
                    </div>
                    <div class="col-2 d-flex justify-content-center align-items-center">
                        <a href="{{ path('app_experience_edit', {id:experience.id}) }}" class="btn-bleu">Modifier</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
    <div class="d-flex justify-content-between align-items-center">
        <h1>Mes diplômes</h1>
        <a href="{{ path('app_diplome_new') }}" class="btn-bleu">Ajouter un diplôme</a>
    </div>
    {% if candidat.diplomes %}
        {% for diplome in candidat.diplomes %}
            <div class="card border-0 shadow mb-4">
                <div class="row">
                    <div class="col-10">
                        <div class="card-body">
                            <h5 class="card-title">{{ diplome.titre }}</h5>
                            <p class="card-text">{{ diplome.description }}</p>
                        </div>
                    </div>
                    <div class="col-2 d-flex justify-content-center align-items-center">
                        <a href="{{ path('app_diplome_edit', {id:diplome.id}) }}" class="btn-bleu">Modifier</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
    {{ include('candidat/_delete_form.html.twig') }}
    {% endif %}

{% endblock %}
